/******************************************************************
BLOG INDEX STYLING
******************************************************************/

.blog,
.category {
	.content {
		margin: 0;
	}

	#inner-content {
		display: block;

		#main {
			width: 100%;
			padding: 0;
			float: none;
		}
	}

	.post {
		padding: 2em;
		border-bottom: 1px solid gray;
		position: relative;

		.entry-content {
			padding: 1em 0;
			max-width: 800px;
			margin: 0 auto;
			position: relative;
			z-index: 2;
		}
	}
}

.featured-image {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	opacity: 0;
	transition: all 0.6s ease;
	background-size: cover;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: block;
		background: rgba(102, 102, 102, 0.76);
		transition: 0.6s all ease-in-out;
	}
}

.blog .post:hover,
.category .post:hover {
	.featured-image {
		opacity: 1;
	}
	.entry-title a,
	.entry-meta,
	.entry-meta a {
		color: white;
	}
}

/******************************************************************
SINGLE POST STYLING
******************************************************************/

.single-post {
	#inner-content .sidebar {
		order: 2;
	}

	.page-banner {
		background-size: cover;
		background-position: center;
		position: relative;

		h1 {
			padding: 3em 0 0.2em;
			color: white;
		}
		p {
			padding-bottom: em(144);
			color: white;
		}
		a {
			color: white;
		}
		h1,
		p {
			z-index: 9;
			position: relative;
			max-width: 800px;
			margin: 0 auto;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			display: block;
			background: rgba(102, 102, 102, 0.76);
			z-index: 1;
			transition: 0.2s all ease-in-out;
		}
	}
}

/* TLDR Plugin Styling */
.summary-tldr-btn,
.calltoaction a {
	@include button();
	box-shadow: none !important;
}

.powerby {
	display: none !important;
}

/* Social Sharing */

.social-sharing {
	margin-bottom: 1em;
	background: darken(white, 5%);
	padding: 0.8em;
	text-align: center;
}

.social-sharing-label {
	font-size: em(13);
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	margin-bottom: 0.5em;
}

.social-link {
	color: #fff;
	background-color: #55acee;
	padding: 0.4em 0.6em;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: em(12);
	font-weight: bold;
	margin-left: em(10);
	transition: 0.2s all ease-in-out;

	&:focus {
		color: white;
	}
}
.social-link-icon,
.social-link-label {
	display: inline-block;
	vertical-align: middle;
}
.social-link-icon {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.2em;
}
.social-link-icon path {
	fill: #fff;
}
.social-link-label {
	font-size: 0.9em;
	font-weight: 500;
}
.social-link:hover {
	background-color: darken(#55acee, 10%);
	color: white;
}

.social-facebook {
	background: #3b5998;
}
.social-facebook:hover {
	background: darken(#3b5998, 10%);
}
.social-linkedin {
	background: #007bb6;
}
.social-linkedin:hover {
	background: darken(#007bb6, 10%);
}
