/******************************************************************
Button Styles
******************************************************************/

/// BASE BUTTON
@mixin button(
	$btnColor: $linkColor,
	$btnHoverColor: darken($linkColor, 10%),
	$btnTextColor: white,
	$btnTextHoverColor: white
) {
	display: inline-block;
	position: relative;
	font-family: $sans-serif;
	text-decoration: none;
	color: $btnTextColor;
	font-size: 1em;
	line-height: 34px;
	font-weight: normal;
	padding: 0.5em 1em;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	transition: background-color 0.14s ease-in-out;
	background: $btnColor;

	// hovering on the btn
	&:hover,
	&:focus {
		color: $btnTextHoverColor;
		text-decoration: none;
		background: $btnHoverColor;
	} // end hover

	// clicking on the button
	&:active {
		top: 1px; // adds a tiny hop to the click
	} // end active
} // end .button

// Regular Button
.button {
	@include button();
}

// Small Button
.button--sm {
	font-size: 0.9em;
	padding: 0.3em 0.8em;
}

// Add focus to button element
button:focus {
	outline: 3px dotted gray;
}
