/******************************************************************
GTM Pages Stylesheet
******************************************************************/

@import "base/variables";
@import "base/mixins";

@import "generic/base";
@import "generic/typography";
@import "generic/links";

@import "modules/layout";

@media print {
	@import "modules/print";
}

.header-gtm {
	margin-top: rem(30);
	margin-bottom: rem(30);
}

.header-gtm__logo {
	display: block;
	max-width: 300px;

	img {
		max-width: 100%;
		height: auto;
	}
}

.page-template-gtm__thank-you,
.error404 {
	@include responsivebackground();
	background-size: cover;
	background-blend-mode: multiply;
	background-color: #67768d;
	background-repeat: no-repeat;
	min-height: 100vh;
	color: white;

	.error-heading {
		&__number {
			font-size: 7rem;
			font-weight: 700;
		}
	}

	a,
	a:hover {
		color: inherit;
	}

	.page-content {
		max-width: 700px;

		@include mobilefirst($bp-med) {
			margin-top: 5rem;
			margin-bottom: 5rem;
		}
	}

	.header__nav,
	.header__button {
		display: none;
	}

	.footer-gtm a {
		color: white;

		&:hover {
			color: white;
			text-decoration: none;
		}
	}
}
