/******************************************************************
Main Stylesheet
******************************************************************/

@import 'base/variables';
@import 'base/mixins';

@import 'generic/base';
@import 'generic/typography';
@import 'generic/links';
@import 'generic/tables';

@import 'modules/accordion';
@import 'modules/buttons';
@import 'modules/cards';
@import 'modules/clearfix';
@import 'modules/cta-blog';
@import 'modules/forms';
@import 'modules/icon';
@import 'modules/media';
@import 'modules/progress';
@import 'modules/sidebar';
@import 'modules/slider';
@import 'modules/skip-link';
@import 'modules/social';
@import 'modules/header';
@import 'modules/nav';
@import 'modules/footer';
@import 'modules/layout';
@import 'modules/hero-title';

@import 'pages/home';
@import 'pages/page';
@import 'pages/blog';
@import 'pages/post';
@import 'pages/online-degrees';
@import 'pages/get-started';
@import 'pages/thank-you';


@media print {
	@import 'modules/print';
}


/*
Example of how styles for anything under this selector will not be removed by purgeCSS on build.
This is done white the purgecssWhitelistPatterns property in theme.config.js

.keep-nested-children {
	& h1 {
		background: purple;
	}

	& ul {
		background: purple;
	}
	& li {
		background: purple;
	}
}
 */

 body {background: red !important;}
