/* BIG CALLOUT BLOCK STYLING */

.thank-you-cta-container {
	grid-column: 1 / span 5;
	order: 1;
}

.thank-you-cta {
	padding: 3rem;
	background: darkgray;
	color: white;
	display: block;
	text-align: center;
	text-decoration: none;

	&:focus,
	&:hover,
	&:visited,
	&:visited:hover {
		color: white !important;
		text-decoration: underline;
	}

	&--call {
		background: gray;
	}

	&__heading {
		color: white;
		display: block;
		text-decoration: none;
		margin-top: 0;
	}
}

/***** PAGE CONTENT STYLING *****/

.thank-you-content {
	grid-column: 5 / span 8;
	order: 2;

	@include min(med ) {
		grid-column: 6 / span 7;
	}

	li {
		margin-bottom: 1rem;

		span {
			color: red;
			font-weight: bold;
		}
	}

	h2 {
		margin-top: 0;
	}
}
