// Go to Market Launch LP Style

/// Responsive Variables
/// Breakpoint Small
$bp-sm: 481px;
/// Breakpoint Medium
$bp-med: 768px;
/// Breakpoint Large
$bp-lg: 1040px;

/// Responsive Mixin
/// @example
///     @include mobilefirst($bp-small) { content here }
@mixin mobilefirst($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

// Resets

body {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

/********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  width: 90%;
  max-width: 1130px;
  margin: 0 auto;
}

section {
  padding: 2rem 0;

  @include mobilefirst($bp-med) {
    padding: 5rem 0;
  }
}

#content-area h1 {
  margin-top: 0;
}

/********************
TYPOGRAPHY & ELEMENTS
*********************/
p {
  color: #686868;
  line-height: 1.8;
  margin-bottom: 1.4rem;
}

h1 {
  font-size: 2.6rem;
  margin-bottom: 2.4rem;
  display: block;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.8rem;
  display: block;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  display: block;
}

img {
  width: 100%;
}

ul {
  li {
    margin-bottom: 1rem;
    line-height: 1.8;
  }
}

.button {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1.2rem 3.6rem;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.2s ease-in-out;

  &.dark {
    color: #222;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.icon {
  display: flex;
  align-items: center;
  fill: currentColor;
}

.icon.inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;
}

.icon.inline > svg {
  height: 1em;
  width: 1em;
}

.icon.inline > svg {
  bottom: -0.05em;
  position: absolute;
}

.icon.inline.lg,
.icon.inline.lg > svg {
  height: 2em;
  width: 2em;
}

/********************
HEADER
*********************/

#hero {
  background-size: cover;
  padding: 32px 0;
  background-repeat: no-repeat;
  height: 350px;
  background-position: center;

  @include mobilefirst($bp-med) {
    height: 450px;
  }
}

#hero.overlay::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 67%,
    rgba(0, 0, 0, 0.35) 100%
  );
}

.school-info {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 2;

  @include mobilefirst($bp-med) {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  p {
    margin-bottom: 0;
  }
}

.logo {
  margin-top: 0;
}

.logo img {
  max-width: 200px;
}

@media screen and (min-width: 600px) {
  .logo img {
    max-width: 400px;
  }
}

.phone-number {
  text-align: right;
  font-weight: bold;
  font-size: 1.2rem;

  @include mobilefirst($bp-med) {
    margin-top: 0;
    font-size: 1.8rem;
  }

  a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;

    .icon {
      padding-right: 1rem;
    }
  }
}

/********************
MAIN CONTENT AREA
*********************/
.main-content {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;

  @include mobilefirst($bp-med) {
    top: 350px;
  }
}

#form {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 32px;
  margin: 16px auto;
  color: #ffffff;

  &.dark {
    color: #222;
  }

  h2 {
    text-align: center;
    margin: 1rem 0;
  }

  h2 + p {
    font-size: 0.9rem;
    opacity: 0.9;
    text-align: center;
    margin: 0.5rem 0 1rem;
    color: #fff;

    &.dark {
      color: #333;
    }
  }

  // ol,
  // ul {
  //   list-style-type: none;
  //   margin: 0 auto;
  //   padding: 0;
  //   overflow: hidden;
  // }
  //
  // fieldset {
  //   border: none;
  //   padding: 0;
  //   margin: 0;
  //   overflow-x: hidden;
  // }
  //
  // label {
  //   display: block;
  //   font-size: 0.7rem;
  //   margin-left: 0.7rem;
  // }
  //
  // input,
  // select {
  //   display: block;
  //   margin: 0.3rem 0 0.75rem;
  //   padding: 10px;
  //   width: 100%;
  //   border: #ffffff 3px solid;
  // }
  //
  // input.error {
  //   border-color: tomato;
  // }
  //
  // select {
  //   width: 98%;
  // }
  //
  // input[type="submit"] {
  //   margin: 1rem auto 0.5rem;
  //   width: 300px;
  //   font-weight: bold;
  //   background: #ffffff;
  //   color: #000000;
  //   transition: all 0.2s ease-in-out;
  //   cursor: pointer;
  //   border: none;
  //
  //   &:hover {
  //     transform: scale(1.1);
  //   }
  // }
  //
  // input[type="hidden"],
  // .elp_hidden,
  // .formValid,
  // legend {
  //   display: none;
  // }
  //
  // .legal-text {
  //   color: inherit;
  //   opacity: 0.9;
  //   width: 70%;
  //   max-width: 700px;
  //   margin: 1rem auto;
  //   text-align: center;
  // }

  .form-item {
    margin: 1rem 0;
  }

  .form-submit {
    [type="submit"] {
      background: #ffffff;
      color: #000000;
    }
  }

  @include mobilefirst($bp-med) {
    form {
      display: flex;
      flex-flow: row wrap;
    }

    .form-item {
      width: calc(50% - 1rem);

      &:nth-child(even) {
        margin-left: 1rem;
      }
    }

    .form-submit {
      margin-left: auto;
      margin-right: auto;
      min-width: 200px;

      [type="submit"] {
        &:hover,
        &:focus {
          transform: scale(1.1);
        }
      }
    }
  }
}

#program-information {
  padding: 3rem 0 0;

  @include mobilefirst($bp-med) {
    display: flex;
    justify-content: space-between;
  }
}

#content-area {
  @include mobilefirst($bp-med) {
    flex: 2;
    padding: 0 1rem 0 0;
  }
}

#programs-list {
  background-color: #ebebeb;
  padding: 24px;

  @include mobilefirst($bp-med) {
    flex: 1;
  }

  h3 {
    padding-bottom: 1.4rem;
    margin-top: 0;
    border-bottom: 1px solid #8a8d8f;
    margin-bottom: 2rem;
  }

  ul {
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;

    li {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
}

#value-props {
  padding: 1rem 0;

  .value-props-container {
    margin: 2rem 0;

    @include mobilefirst($bp-med) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .value-prop {
      @include mobilefirst($bp-med) {
        width: 48%;
        flex-grow: 1;
        margin: 1%;
      }

      @include mobilefirst($bp-lg) {
        width: auto;
        flex: 1;
      }

      .value-prop__inner {
        padding: 1rem;
        margin: 0.5rem;
        text-align: center;

        h3 {
          font-size: 1.3rem;
          color: #ffffff;
        }

        p {
          color: #bbbbbb;
          font-size: 0.9rem;
        }

        &.dark {
          h3 {
            color: #222;
          }

          p {
            color: #555555;
          }
        }
      }
    }
  }
}

#about {
  color: #ffffff;

  .wrap {
    @include mobilefirst($bp-med) {
      width: 70%;
      max-width: 700px;
      margin: 0 auto;
    }
  }

  h2 {
    color: #eaeaea;
    text-align: center;
  }

  p {
    color: #ebebeb;
  }

  &.dark {
    h2 {
      color: #222;
      text-align: center;
    }

    p {
      color: #444;
    }
  }
}

#cta {
  text-align: center;
  padding: 6rem 0;

  h4 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.4;
    margin: 0 auto 2rem;
    max-width: 900px;
  }
}

#accreditation {
  background-color: #ebebeb;

  @include mobilefirst($bp-med) {
    .wrap {
      display: flex;
    }

    .copy {
      flex: 2;
      flex-grow: 1;

      p {
        padding: 0 1rem;
      }
    }

    .accred_images {
      flex: 1;
    }
  }

  h3 {
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #a8abac;
  }

  .accred_images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    img {
      max-width: 280px;
      height: auto;
      padding: 1rem;
    }
  }
}

.footer {
  background-color: #444444;
  padding: 0.8rem 0;

  p {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.4;
    margin: 0.4rem 0;
    color: #aaaaaa;
  }

  a {
    text-decoration: none;
    color: #cccccc;
  }
}
