/******************************************************************
Tablet & Small Desktop Stylesheet
******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/

#inner-content {

    #main {
       @include span(8);
    }
    .sidebar {
       @include span(4);
    }
}

/*********************
HEADER STYLES
*********************/

.header {

    #logo {
        float: left;
    }
    .nav {
        float: right;
    }
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;
	ul {
		margin-top:0;
	}
	li {
		float: left;
		position: relative;
		a {
			border-bottom: 0;

			&:hover, &:focus {
				color: hite;
				text-decoration: underline;
			}
		}

		ul.sub-menu,
		ul.children {
      background: $link-color;
			margin-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
          color: white;
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
				}

				ul {
					top:0;
					left:100%;
				}
			}
		}

		/* showing sub-menus */
		&:hover > ul.sub-menu {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.widgettitle {
	border-bottom: 2px solid #444;
	margin-bottom: 0.75em;
}

.widget {
	padding: 0 10px;
	margin: 2.2em 0;

	&:first-of-type {
		margin-top: 0;
	}

	ul {
		li {
			margin-bottom: 0.75em;

			ul {
				margin-top: 0.75em;
				padding-left: 1em;
			}
		}
	}
}

/***********************
SOCIAL SHARING
***********************/

.social-sharing {
    margin-bottom: 0;
}
