/******************************************************************
Base Mobile Stylesheet
******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: white;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}


/* Responsive Videos */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.border {
    border: 2px solid $link-color;
    padding: .5em 1em;
}

/* Clearfix */
.clearfix, .cf, .comment-respond {
  zoom: 1;
}
.clearfix:before, .clearfix:after, .cf:before, .comment-respond:before, .cf:after, .comment-respond:after {
    content: "";
    display: table;
}
.clearfix:after, .cf:after, .comment-respond:after {
    clear: both;
}

/********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
}

/*********************
ACCORDION STYLES
*********************/

.accord {
    &.active {
        .accord-header {
            &:before{
                transform: translateY(-50%) rotate(45deg);
            }
        }

        .accord-content {
            visibility: visible;
            transform: scale(1);
            height: auto;
            opacity: 1;
        }
    }

    .accord-content {
        visibility: hidden;
        padding: .5em;
        transform: scale(0);
        transform-origin: 50% 0;
        transition: all .2s ease-in-out;
        opacity: 0;
        height: 0;
    }
}

.accord-header {
    font-size: 1.2em;
    cursor: pointer;
    padding: .5em 2em .5em .5em;
    background: lightgray;
    border: 1px solid darken(lightgray, 5%);
    position: relative;

    &:before {
        content: "+";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1em;
        transition: .2s all ease-in-out;
        transform-origin: 50% 50%;
    }
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
HEADER STYLES
*********************/

#logo {
    margin: 0.75em 0;
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border-bottom: 0;
	margin: 0;
    padding: 0;
    list-style: none;

	li {
        list-style: none;

		a {
			display: block;
			text-decoration: none;
			padding: 0.75em;
		}

		ul.sub-menu,
		ul.children {
            padding: 0;
            display: none;

			li {

				a {
					padding-left: 30px;
				}

			}

		}

        &:hover {
            .sub-menu { display: block; }
        }

	} /* end .menu li */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin: 1.5em 0;
}

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		/* post meta */
		.byline {
			color: gray;
			font-style: italic;
			margin: 0;
		}

		/* entry content */
		.entry-content {
			padding: 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid tomato;
				font-style: italic;
				color: gray;

				&:before {}

			}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: black;
				color: lightgray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $link-color;

      &:hover, &:focus {
      	background-color: $link-color;
      	color: white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */


/*********************
SIDEBARS & ASIDES
*********************/

.no-widgets {
	background-color: white;
	padding: 1.5em;
	text-align: center;
	border: 1px solid gray;
	border-radius: 2px;
	margin-bottom: 1.5em;
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
}
