/*********************
GENERAL STYLES
*********************/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: white;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Display fonts when ready
.fonts-loaded body {
    font-family: $sans-serif;
}

.border {
    border: 2px solid $link-color;
    padding: .5em 1em;
}

/********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
}


/*********************
POSTS & CONTENT STYLES
*********************/

.content {
	margin: 1.5em 0;
}

.single-header__title,
.page-header__title,
.post-header__title {
	margin: 0;
}

/* post meta */
.post-meta {
	color: gray;
	font-style: italic;
	margin: 0;
}

/* entry content */
.post-content {
	padding: 1.5em 0;

	p {
		margin: 0 0 1.5em;
	}

	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid tomato;
		font-style: italic;
		color: gray;

		&:before {}

	}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: black;
		color: lightgray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

	// the tag output
	.tags {
		margin: 0;
	}



