/******************************************************************
Table Styles
******************************************************************/

table {
  width: 100%;

  caption {
    margin: 0 0 7px;
    font-size: 0.75em;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

th,
td {
  padding: 10px 20px;
  text-align: left;
}

tr:nth-child(odd) {
  background: #eee;
}

th {
  background-color: lightgray;
}
