/******************************************************************
Typography Styles
******************************************************************/

blockquote {
	font-size: em(16);
	line-height: 1.25;
	/* 25px / 20px */
	border-left: 4px solid gray;
	padding-left: 1em;

	@include mobilefirst(md) {
		font-size: em(24);
		line-height: 1.45833333;
	}
}

figure,
figcaption {
	display: block;
	font-style: italic;
	font-size: 0.9em;
	color: gray;
	text-align: center;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;

	a {
		text-decoration: none;
	}
}

h1,
.h1 {
	font-size: em(32);
	line-height: 1.25;

	@include mobilefirst(md) {
		font-size: em(40);
		line-height: 1.125;
	}

	@include mobilefirst(lg) {
		font-size: em(48);
		line-height: 1.05;
	}
}

h2,
.h2 {
	font-size: em(26);
	line-height: 1.15384615;
	margin-bottom: 0.375em;

	@include mobilefirst(md) {
		font-size: em(32);
		line-height: 1.25;
	}

	@include mobilefirst(lg) {
		font-size: em(36);
		line-height: 1.25;
	}
}

h3,
.h3 {
	font-size: em(22);
	line-height: 1.13636364;

	@include mobilefirst(md) {
		font-size: em(24);
		line-height: 1.25;
	}

	@include mobilefirst(lg) {
		font-size: em(28);
		line-height: 1.25;
	}
}

h4,
.h4 {
	color: $link-color;
	font-size: em(18);
	line-height: 1.11111111;

	@include mobilefirst(md) {
		line-height: 1.222222222;
	}
}

h5,
.h5 {
	font-size: em(13.5);
	line-height: 1.25;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $link-color;
}

h6,
.h6 {
	color: $link-color;
}
