// Theming
$card-bg: color(grayLight);

.card {
	$self: &;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	width: 100%;
	background: $card-bg;
	overflow: hidden;
	position: relative;

	&__image {
		> img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__copy {
		padding: rem(15);

		@include min(md) {
			padding: rem(20);
		}
	}

	&__icon {
		display: block;
		width: rem(80);
		height: rem(80);
		margin-bottom: rem(10);
	}

	&__heading {
		margin: 0;
	}

	&__description {
		margin: rem(10) 0 0;
	}

	&__action {
		padding: 0 rem(15) rem(15);

		@include min(md) {
			padding: 0 rem(20) rem(20);
		}

		&--right {
			text-align: right;
		}
	}

	&--wideImage {
		display: flex;
		flex-flow: row nowrap;

		#{$self}__image {
			display: none;

			@include min(lg) {
				display: block;
				max-width: rem(230);
				flex: 1;
			}
		}

		> div:nth-of-type(2) {
			flex: 1 0;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
		}

		#{$self}__copy {
			flex: 3;
		}
	}
}

// Formatting and override default link styling
a.card {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		color: inherit;
	}
}

.cardList {
	list-style: none;
	padding: 0;
	margin: rem(20) 0;

	.card + .card {
		margin-top: rem(20);
	}
}
