/******************************************************************
Form Styles
******************************************************************/

/*********************
INPUTS
*********************/

// setting up defaults
input[type],
select,
textarea,
.field {
	display: block;
	line-height: 1em;
	font-size: 1em;
	color: $text-color;
	border-color: gray;
	border-width: 2px;
	border-style: solid;
	border-spacing: inherit;
	border-radius: 3px;
	vertical-align: middle;
	box-shadow: none;
	width: 100%;
	background-color: darken(white, 10%);
	transition: background-color 0.24s ease-in-out;
	padding: 0.5em;
	box-sizing: border-box;

	// a focused input (or hovered on)
	&:focus,
	&:active {
		background-color: white;
		outline: none;
	} // end hover or focus

	// error notification
	&.error,
	&.is-invalid {
		color: red;
		border-color: red;
		background-color: white;
		outline-color: red;
	} // end invalid input

	// success notification
	&.success,
	&.is-valid {
		color: green;
		border-color: green;
		background-color: white;
		outline-color: green;
	} // end valid input

	// a disabled input
	&[disabled],
	&.is-disabled {
		cursor: not-allowed;
		border-color: lightgray;
		opacity: 0.6;

		&:focus,
		&:active {
			background-color: blue;
		} // end disabled focus
	} // end disabled input
} // end input defaults

// spacing out the password (thx @murtaugh)
input[type="password"] {
	letter-spacing: 0.3em;
}

// textareas
textarea {
	max-width: 100%;
	min-height: 120px;
	line-height: 1.5em;
}

// submit button
.requestinfo input[type="submit"] {
	// class added to override styling above
	@include button();
	width: 100%;
}

// selects
select {
	height: 2.5rem;
}

fieldset {
	border: none;
}

legend,
.formValid {
	display: none;
}

.formError {
	background: red;
	color: white;
	padding: rem(5);
}

.requestinfo ol {
	list-style: none;
	padding-left: 0;

	li {
		margin-bottom: rem(12);
	}
}

.elp_hidden {
	display: none;
}
