/*********************
HEADER STYLES
*********************/

.header {
	&__logo {
		max-width: rem(200);

		@include min(md) {
			max-width: rem(300);
		}
	}

	> .wrapLg {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding-top: rem(20);
		padding-bottom: rem(20);
	}

	&__button {
	}
}

.infoBar {
	background-color: color(grayLight);
	padding-top: rem(10);
	padding-bottom: rem(10);
	// font-size: rem(12);
	// letter-spacing: 0.5px;
	// text-transform: uppercase;

	> .wrapLg {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	&__info {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		width: 100%;

		@include min(md) {
			width: auto;
			text-align: left;
		}

		@include min(lg) {
			width: auto;
			flex-flow: row nowrap;
		}
	}

	&__phone {
		color: inherit;
		text-decoration: none;
		text-align: center;
	}

	&__startDate {
		text-align: center;
		display: block;

		@include min(md) {
			display: inline;
			text-align: left;
		}

		@include min(lg) {
			margin-left: rem(20);
		}
	}

	&__nav {
		display: none;

		@include min(md) {
			display: block;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-flow: row wrap;

			li {
				margin-top: 0;
				padding-left: 0;
			}

			li:not(:first-of-type) {
				margin-left: rem(20);
			}
		}

		a {
			padding: 0;
		}
	}
}
