/********************
LAYOUT & GRID STYLES
*********************/

[class*="wrap"] {
	margin-left: auto;
	margin-right: auto;
	padding-left: rem(15);
	padding-right: rem(15);

	@include min(md) {
		padding-left: rem(20);
		padding-right: rem(20);
	}
}

.wrapLg {
	max-width: map-get($wrap, lg);
}

.wrapMd {
	max-width: map-get($wrap, md);
}

.wrapSm {
	max-width: map-get($wrap, sm);
}

// anchor footer to bottom on short pages
#container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	min-height: 100vh;
}

#container > footer {
	margin-top: auto;
}

/***** Basic Layout *****/
.pageContent {
	@include min(md) {
		display: flex;
		flex-flow: row nowrap;
	}

	> :not(:last-child) {
		margin-top: rem(20);

		@include min(md) {
			margin-top: 0;
			margin-right: rem(40);
		}
	}

	&__main {
		flex: 2;
	}

	&__sidebar {
		flex: 1;
	}
}

// Flex-based grid, since IE can't handle auto-flow grids
.flexGrid {
	$self: &;

	// border: red 1px solid !important;
	list-style: none;
	margin: 0;
	padding: rem(10);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	&__item {
		// border: red 1px solid !important;
		width: 100%;
		padding: rem(10);

		@include min(sm) {
			width: 50%;
		}

		@include min(md) {
			width: 33.3%;
		}

		@include min(lg) {
			width: 25%;
		}
	}

	&--nowrap {
		flex-flow: column nowrap;

		@include min(md) {
			flex-flow: row nowrap;
		}

		#{$self}__item {
			width: 100%;
			flex: 1;
		}
	}

	&--large {
		#{$self}__item {
			@include min(lg) {
				width: 33.3%;
			}
		}
	}

	&--largeGap {
		#{$self}__item {
			padding: rem(10);
		}

		@include min(lg) {
			padding: rem(20);
		}
	}

	&--thinGap {
		padding: rem(2);

		#{$self}__item {
			padding: rem(2);
		}
	}

	&--stretch {
		align-items: stretch;

		#{$self}__item {
			display: flex;
			align-items: stretch;
		}
	}

	&--left {
		justify-content: flex-start;
	}
}
