/*********************
NAVIGATION STYLES
*********************/

// Mobile only
@media screen and (max-width: 767px) {
	.nav-wrapper__open {
		background: rgba(0, 0, 0, 0.1);
		border: none;
		padding: rem(10);
		color: #333;
		border-radius: rem(3);
		cursor: pointer;
	}

	.nav-wrapper__open:hover,
	.nav-wrapper__open:hover:focus {
		background: rgba(0, 0, 0, 0.2);
		color: $primary-color;
	}

	.nav-wrapper {
		position: fixed;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		overflow: scroll;
		background: #ccc;
		transition: 0.2s all ease-in-out;
		-webkit-transform: translateY(100vh);
		transform: translateY(100vh);
		opacity: 0;
		visibility: hidden;

		&.visible {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}

		&__close {
			display: block;
			cursor: pointer;
			width: 100%;
			color: $primary-color;
			background: #fff;
			font-size: 1.2rem;
			font-weight: 700;
			padding: 1rem;
			border: none;
		}
	}
}

.nav {
	border-bottom: 0;
	margin: 0;
	padding: 0;
	list-style: none;

	@include mobilefirst($bp-med) {
		border: 0;
		display: flex;
		flex-flow: row wrap;
		margin-top: 0;
	}

	li {
		list-style: none;

		@include mobilefirst($bp-med) {
			position: relative;

			&:hover > ul.sub-menu {
				top: auto;
				visibility: visible;
			}
		}

		&.menu-item-has-children {
			position: relative;
		}

		a {
			display: block;
			text-decoration: none;
			padding: 0.75em;

			@include mobilefirst($bp-med) {
				border-bottom: 0;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}

		ul.sub-menu,
		ul.children {
			padding: 0;
			display: none;

			@include mobilefirst($bp-med) {
				background: $link-color;
				margin-top: 0;
				position: absolute;
				visibility: hidden;
				z-index: 8999;
			}

			li {
				a {
					padding-left: 30px;

					@include mobilefirst($bp-med) {
						color: white;
						padding-left: 10px;
						border-right: 0;
						display: block;
						width: 180px;
					}
				}

				@include mobilefirst($bp-med) {
					ul {
						top: 0;
						left: 100%;
					}
				}
			}
		}

		&:hover {
			.sub-menu {
				@include mobilefirst($bp-med) {
					display: block;
				}
			}
		}

		// Show sub menu on focus for desktop users
		.sub-menu.active {
			@include mobilefirst($bp-med) {
				display: block;
				visibility: visible;
			}
		}
	} /* end .menu li */
} /* end .nav */

/***** MAIN NAVIGATION *****/
.top-nav {
	@include mobilefirst($bp-med) {
	}
}

// Secondary Nav
.header__secondary-nav {
	@include mobilefirst($bp-med) {
		display: none;
	}
}

/***** SUB MENU TOGGLE BUTTONS *****/
.sub-menu__toggle {
	position: absolute;
	right: 0;
	top: 0;
	outline: 0;
	background: $link-color;
	border: none;
	padding: 1rem;

	@include mobilefirst($bp-med) {
		display: none;
	}

	&.active {
		transform: rotate(180deg);
	}
}

/**** 768 UP ****/

@include mobilefirst($bp-med) {
	.js__menu-trigger {
		display: none;
	}
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
.pagination {
	text-align: center;

	ul {
		display: inline-block;
		background-color: white;
		white-space: nowrap;
		padding: 0;
		clear: both;
		border-radius: 3px;
	}

	li {
		padding: 0;
		margin: 0;
		display: inline;
		overflow: hidden;
		border-right: 1px solid gray;

		&:last-child {
			border-right: none;
		}
	}

	a,
	span {
		margin: 0;
		text-decoration: none;
		padding: 0;
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		padding: 0.75em;
		min-width: 1em;
		display: block;
		color: $link-color;

		&:hover,
		&:focus {
			background-color: $link-color;
			color: white;
		}
	}

	.current {
		cursor: default;
		color: $text-color;

		&:hover,
		&:focus {
			background-color: white;
			color: $text-color;
		}
	}
} /* end .tlh_page_navi */

/* fallback previous & next links */
.wp-prev-next {
	.prev-link {
	}

	.next-link {
	}
} /* end .wp-prev-next */
