.skip-link {
	position: absolute;
	left: 6px;
	top: -99px;
}

.skip-link:focus {
	z-index: 999;
	font-size: 14px;
	font-weight: 700;
	top: 6px;
	padding: 15px 23px 14px;
	background-color: $tlh-red;
	color: white !important;
}
