/*******************************
SOCIAL SHARING BUTTONS
*******************************/

.socialSharing {
    background: darken(white, 5%);
    padding: .8em;
    text-align: center;
}

.socialSharing__label {
    font-size: em(13);
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: .5em;

	@include min(sm) {
		display: inline;
		margin-bottom: 0;
	}
}

.socialLink {
  color: #fff;
  background-color: #55acee;
  padding: .4em .6em;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: em(12);
  font-weight: bold;
  margin-left: em(10);
  transition: .2s all ease-in-out;

  &:focus { color: white; }
}
.socialLink__icon,
.socialLink__label {
  display: inline-block;
  vertical-align: middle;
  color: white;
}
.socialLink__icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: .2em;
}
.socialLink__icon path { fill: #fff; }
.socialLink__label {
  font-size: .9em;
  font-weight: 500;
}
.socialLink:hover {
    background-color:  darken(#55acee, 10%);
    color: white;
}

.socialLink.social-link_facebook { background: #3b5998; }
.socialLink.social-link_facebook:hover { background: darken(#3b5998, 10%); }
.socialLink.social-link_linkedin { background: #007bb6; }
.socialLink.social-link_linkedin:hover { background: darken(#007bb6, 10%); }
