/******************************************************************
Critical CSS for the Homepage
Only include styles for above the fold.
******************************************************************/
/*********************
GENERAL STYLES
*********************/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #666;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; }

:focus {
  outline: 3px dotted gray; }

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important; }

/******************************************************************
Typography Styles
******************************************************************/
blockquote {
  font-size: 1em;
  line-height: 1.25;
  /* 25px / 20px */
  border-left: 4px solid gray;
  padding-left: 1em; }
  @media screen and (min-width: 768px) {
    blockquote {
      font-size: 1.5em;
      line-height: 1.45833333; } }

figure,
figcaption {
  display: block;
  font-style: italic;
  font-size: 0.9em;
  color: gray;
  text-align: center; }

.quote {
  padding: 1.5em;
  background: gray;
  position: relative;
  border-radius: 0.5em; }
  .quote:before {
    position: absolute;
    top: 99.8%;
    right: 2em;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent gray transparent transparent; }

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  text-rendering: optimizelegibility;
  font-weight: 500; }
  h1 a,
  .h1 a,
  h2 a,
  .h2 a,
  h3 a,
  .h3 a,
  h4 a,
  .h4 a,
  h5 a,
  .h5 a {
    text-decoration: none; }

h1,
.h1 {
  font-size: 2em;
  line-height: 1.25; }
  @media screen and (min-width: 768px) {
    h1,
    .h1 {
      font-size: 2.5em;
      line-height: 1.125; } }
  @media screen and (min-width: 1040px) {
    h1,
    .h1 {
      font-size: 3em;
      line-height: 1.05; } }

h2,
.h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
  margin-bottom: 0.375em; }
  @media screen and (min-width: 768px) {
    h2,
    .h2 {
      font-size: 2em;
      line-height: 1.25; } }
  @media screen and (min-width: 1040px) {
    h2,
    .h2 {
      font-size: 2.25em;
      line-height: 1.25; } }

h3,
.h3 {
  font-size: 1.375em;
  line-height: 1.13636364; }
  @media screen and (min-width: 768px) {
    h3,
    .h3 {
      font-size: 1.5em;
      line-height: 1.25; } }
  @media screen and (min-width: 1040px) {
    h3,
    .h3 {
      font-size: 1.75em;
      line-height: 1.25; } }

h4,
.h4 {
  color: #C41331;
  font-size: 1.125em;
  line-height: 1.11111111; }
  @media screen and (min-width: 768px) {
    h4,
    .h4 {
      line-height: 1.222222222; } }

h5,
.h5 {
  font-size: 0.84375em;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #C41331; }

h6,
.h6 {
  color: #C41331; }

/******************************************************************
Button Styles
******************************************************************/
.button {
  display: inline-block;
  position: relative;
  font-family: sans-serif;
  text-decoration: none;
  color: white !important;
  font-size: 1em;
  line-height: 34px;
  font-weight: normal;
  padding: 0.5em 1em;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.14s ease-in-out;
  background: #C41331; }
  .button:hover, .button:focus {
    color: white;
    text-decoration: none;
    background: #7e0c20; }
  .button:active {
    top: 1px; }

.button_sm {
  font-size: 0.9em;
  padding: 0.3em 0.8em; }

button:focus {
  outline: 3px dotted gray; }

.hero-title {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  background-color: darkgray; }
  .hero-title span {
    display: block;
    font-size: 0.4em;
    margin-top: 1rem; }

/* Clearfix */
.clearfix, .cf, .comment-respond {
  zoom: 1; }

.clearfix:before, .clearfix:after, .cf:before, .comment-respond:before, .cf:after, .comment-respond:after {
  content: "";
  display: table; }

.clearfix:after, .cf:after, .comment-respond:after {
  clear: both; }

/*********************
HEADER STYLES
*********************/
.header__logo {
  margin: 0.5rem 0;
  max-width: 12.5rem; }
  @media screen and (min-width: 768px) {
    .header__logo {
      max-width: 18.75rem; } }

.header > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.info-bar {
  background-color: #ddd;
  outline-color: white;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  text-transform: uppercase; }
  .info-bar > .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .info-bar__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .info-bar__info {
        width: auto;
        text-align: left; } }
    @media screen and (min-width: 1040px) {
      .info-bar__info {
        width: auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap; } }
  .info-bar__phone {
    color: inherit;
    text-decoration: none;
    text-align: center; }
  .info-bar__start-date {
    text-align: center;
    display: block; }
    @media screen and (min-width: 768px) {
      .info-bar__start-date {
        display: inline;
        text-align: left; } }
    @media screen and (min-width: 1040px) {
      .info-bar__start-date {
        margin-left: 1.25rem; } }
  .info-bar__nav {
    display: none; }
    @media screen and (min-width: 768px) {
      .info-bar__nav {
        display: block; } }
    .info-bar__nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
      .info-bar__nav ul li {
        margin-top: 0;
        padding-left: 0; }
      .info-bar__nav ul li:not(:first-of-type) {
        margin-left: 1.25rem; }
    .info-bar__nav a {
      padding: 0; }

/*********************
NAVIGATION STYLES
*********************/
@media screen and (max-width: 767px) {
  .nav-wrapper__open {
    background: rgba(0, 0, 0, 0.1);
    border: none;
    padding: 0.625rem;
    color: #333;
    border-radius: 0.1875rem;
    cursor: pointer; }
  .nav-wrapper__open:hover,
  .nav-wrapper__open:hover:focus {
    background: rgba(0, 0, 0, 0.2);
    color: #C41331; }
  .nav-wrapper {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background: #ccc;
    transition: 0.2s all ease-in-out;
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0;
    visibility: hidden; }
    .nav-wrapper.visible {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
      visibility: visible; }
    .nav-wrapper__close {
      display: block;
      cursor: pointer;
      width: 100%;
      color: #C41331;
      background: #fff;
      font-size: 1.2rem;
      font-weight: 700;
      padding: 1rem;
      border: none; } }

.nav {
  border-bottom: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  /* end .menu li */ }
  @media screen and (min-width: 768px) {
    .nav {
      border: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      margin-top: 0; } }
  .nav li {
    list-style: none; }
    @media screen and (min-width: 768px) {
      .nav li {
        position: relative; }
        .nav li:hover > ul.sub-menu {
          top: auto;
          visibility: visible; } }
    .nav li.menu-item-has-children {
      position: relative; }
    .nav li a {
      display: block;
      text-decoration: none;
      padding: 0.75em; }
      @media screen and (min-width: 768px) {
        .nav li a {
          border-bottom: 0; }
          .nav li a:hover, .nav li a:focus {
            text-decoration: underline; } }
    .nav li ul.sub-menu,
    .nav li ul.children {
      padding: 0;
      display: none; }
      @media screen and (min-width: 768px) {
        .nav li ul.sub-menu,
        .nav li ul.children {
          background: #C41331;
          margin-top: 0;
          position: absolute;
          visibility: hidden;
          z-index: 8999; } }
      .nav li ul.sub-menu li a,
      .nav li ul.children li a {
        padding-left: 30px; }
        @media screen and (min-width: 768px) {
          .nav li ul.sub-menu li a,
          .nav li ul.children li a {
            color: white;
            padding-left: 10px;
            border-right: 0;
            display: block;
            width: 180px; } }
      @media screen and (min-width: 768px) {
        .nav li ul.sub-menu li ul,
        .nav li ul.children li ul {
          top: 0;
          left: 100%; } }
    @media screen and (min-width: 768px) {
      .nav li:hover .sub-menu {
        display: block; } }
    @media screen and (min-width: 768px) {
      .nav li .sub-menu.active {
        display: block;
        visibility: visible; } }

/* end .nav */
/***** MAIN NAVIGATION *****/
@media screen and (min-width: 768px) {
  .header__secondary-nav {
    display: none; } }

/***** SUB MENU TOGGLE BUTTONS *****/
.sub-menu__toggle {
  position: absolute;
  right: 0;
  top: 0;
  outline: 0;
  background: #C41331;
  border: none;
  padding: 1rem; }
  @media screen and (min-width: 768px) {
    .sub-menu__toggle {
      display: none; } }
  .sub-menu__toggle.active {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

/**** 768 UP ****/
@media screen and (min-width: 768px) {
  .js__menu-trigger {
    display: none; } }

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.pagination,
.wp-prev-next {
  margin: 1.5em 0; }

.pagination {
  text-align: center; }
  .pagination ul {
    display: inline-block;
    background-color: white;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border-radius: 3px; }
  .pagination li {
    padding: 0;
    margin: 0;
    display: inline;
    overflow: hidden;
    border-right: 1px solid gray; }
    .pagination li:last-child {
      border-right: none; }
  .pagination a,
  .pagination span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
    color: #C41331; }
    .pagination a:hover, .pagination a:focus,
    .pagination span:hover,
    .pagination span:focus {
      background-color: #C41331;
      color: white; }
  .pagination .current {
    cursor: default;
    color: #666; }
    .pagination .current:hover, .pagination .current:focus {
      background-color: white;
      color: #666; }

/* end .tlh_page_navi */
/* fallback previous & next links */
/* end .wp-prev-next */
/********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto; }

/***** Basic Layout *****/
.error404 .main-content,
.single .main-content,
.page .main-content {
  padding-top: 2rem;
  padding-bottom: 2rem; }

@media screen and (min-width: 768px) {
  .error404 .main-content,
  .single .main-content,
  .page .main-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem; }
    .error404 .main-content article,
    .single .main-content article,
    .page .main-content article {
      -ms-grid-column-span: 8;
      -ms-grid-column: 1;
          grid-column: 1 / span 8;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin-right: 2rem; }
      @supports ((display: -ms-grid) or (display: grid)) {
        .error404 .main-content article,
        .single .main-content article,
        .page .main-content article {
          margin-right: 0; } }
    .error404 .main-content .sidebar,
    .single .main-content .sidebar,
    .page .main-content .sidebar {
      -ms-grid-column-span: 4;
      -ms-grid-column: 9;
          grid-column: 9 / span 4;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; } }

/*************************
PAGE SPECIFIC STYLES
*************************/
.single-header__title,
.page-header__title,
.post-header__title {
  margin: 0; }
