/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/

/*********************
RESPONSIVE IMAGE MIXIN
*********************/

@mixin img-replace($img, $w, $h, $display: block) {
    background-image: url('#{$path-rel}/#{$img}');
    background-repeat: no-repeat;
    width: $w;
    height: $h;
    display: $display;
};


/*********************
HIDE AN ELEMENT
*********************/

%visuallyhidden {
      margin: -1px;
        padding: 0;
          width: 1px;
            height: 1px;
              overflow: hidden;
                clip: rect(0 0 0 0);
                  clip: rect(0, 0, 0, 0);
                    position: absolute;
                }
