/******************************************************************
Button Styles
******************************************************************/

/// BASE BUTTON
/// @example
///     @include buton($color);
/// @param {variable} $btn-color [$link-color] - Background Button Color

@mixin button($btn-color: $link-color) {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: white !important;
  font-size: 1em;
  line-height: 34px;
  font-weight: normal;
  padding: .5em 1em;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.14s ease-in-out;
  background: $btn-color;

  // hovering on the btn
  &:hover, &:focus {
    color: white;
    text-decoration: none;
    outline: none;
    background: darken($btn-color, 15%);
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button


.button {
  @include button($link-color);
}


/*******************************
SOCIAL SHARING BUTTONS
*******************************/

/* Social Sharing */

.social-sharing {
    margin-bottom: 1em;
    background: darken(white, 5%);
    padding: .8em;
    text-align: center;
}

.social-sharing-label {
    font-size: em(13);
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: .5em;
}

.social-link {
  color: #fff;
  background-color: #55acee;
  padding: .4em .6em;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: em(12);
  font-weight: bold;
  margin-left: em(10);
  transition: .2s all ease-in-out;
  
  &:focus { color: white; }
}
.social-link-icon,
.social-link-label {
  display: inline-block;
  vertical-align: middle;
  color: white;
}
.social-link-icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: .2em;
}
.social-link-icon path { fill: #fff; }
.social-link-label {
  font-size: .9em;
  font-weight: 500;
}
.social-link:hover { 
    background-color:  darken(#55acee, 10%); 
    color: white;
}

.social-facebook { background: #3b5998; }
.social-facebook:hover { background: darken(#3b5998, 10%); }
.social-linkedin { background: #007bb6; }
.social-linkedin:hover { background: darken(#007bb6, 10%); }
