.footer-mag {
	background-color: $blue--dark;
	color: white;
	text-align: center;

	:focus {
		outline-color: white;
	}

	a,
	a:hover,
	a:active,
	a:focus {
		color: inherit;
	}

	p {
		margin-top: 0;
		margin-bottom: 0;

		display: flex;
		flex-flow: column nowrap;
		align-items: center;

		@include mobilefirst($bp-med) {
			display: block;
		}
	}

	> .wrap-lg {
		padding-top: rem(20);
		padding-bottom: rem(20);
	}

	&__logo {
		margin-bottom: rem(10);
	}

	&__copyright {
		background-color: $off-black;
		padding-top: rem(10);
		padding-bottom: rem(10);
	}
}

.page-template-mag__degrees-php {
	.footer-mag__copyright {
		padding-bottom: rem(80);

		@include mobilefirst($bp-med) {
			padding-bottom: rem(10);
		}
	}
}
