/*********************
HEADER STYLES
*********************/

.header {
	&__logo {
		margin: 0.5rem 0;
		float: left;
	}

	&__button {
		float: right;
	}

	&__nav {
		visibility: hidden;
		height: 0;
		clear: both;

		@include mobilefirst($bp-med) {
			clear: none;

			.nav {
				float: right;
				visibility: visible;
				height: auto;
			}
		}

		&.visible {
			visibility: visible;
			height: auto;
		}
	}
}
