/*********************
HEADER STYLES
*********************/

.header {
	&__logo {
		margin: 0.5rem 0;
	}

	> .wrap {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	&__button {
	}

	&__nav {
		visibility: hidden;
		height: 0;

		@include mobilefirst($bp-med) {
			visibility: visible;
			height: auto;
		}

		&.visible {
			visibility: visible;
			height: auto;
		}
	}
}
