/********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
}

// anchor footer to bottom on short pages
#container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	min-height: 100vh;
}

#container > footer {
	margin-top: auto;
}

/***** Basic Layout *****/

@include mobilefirst($bp-med) {
	.page-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-column-gap: 2rem;

		.page-content {
			grid-column: 1 / span 8;
			order: 1;
			margin-right: 2rem;

			@supports (display: grid) {
				margin-right: 0;
			}
		}

		.sidebar {
			grid-column: 9 / span 4;
			order: 2;
		}
	}
}
