/*********************
SIDEBARS & ASIDES
*********************/

.no-widgets {
	background-color: white;
	padding: 1.5em;
	text-align: center;
	border: 1px solid gray;
	border-radius: 2px;
	margin-bottom: 1.5em;
}
