// --- Sizes ---
// Browser Context (this is needed for the px to em's mixin)
$browser-context: 16; // Default

// --- Responsive Breakpoints ---
$breakpoints: (
	sm: 481px,
	md: 768px,
	lg: 1040px,
	wrap: 1440px
);

// --- Content Wrap ---
$wrap: (
	sm: 700px,
	md: 940px,
	lg: 1400px
);

// --- Colors ---
$colors: (
	red: firebrick,
	redDark: maroon,
	blue: blue,
	green: green,
	orange: darkorange,
	grayLight: #ddd,
	gray: #747281,
	grayDark: #333,
	white: white
);

// --- Global Spacing ---
$spacing: (
	sm: rem(10),
	md: rem(20),
	lg: rem(30)
);

// --- Z Index Mapping Map lol ---
$z: (
	sectionBg: 1,
	sectionContent: 2,
	form: 10
);

// --- Typography ---
/// Text Colors

/// Fonts
$sans-serif: sans-serif;
$serif: serif;
/// Text Colors
$primaryColor: map-get($colors, gray);
$textColor: map-get($colors, grayDark);
$linkColor: $primaryColor;
$linkHover: darken($primaryColor, 15%);

/// Heading Map

// --- Images ---
// Default Header Hero Image
$hero-sm: "hero-background-sm.jpg"; // width should be 800px
$hero-md: "hero-background-md.jpg"; // width should be 1200px
$hero-lg: "hero-background-lg.jpg"; // width should be > 1200px

// --- Theming ---
/// Header
// $infoBar-bg: color(grayLight);
// $header-bg: color(white);

/// Mobile Menu
// $mobileMenu-bg: color(green);

/// Page Title
// $pageTitle-bg: yellow;

/// Footer
// $footer-bg: color(green);
