// --- Sizes ---
// Browser Context (this is needed for the px to em's mixin)
$browser-context: 16; // Default

// --- Responsive Breakpoints ---
$breakpoints: (
  sm: 481px,
  md: 768px,
  lg: 1040px,
  wrap: 1440px
);

// --- Content Wrap ---
$wrap: (
  sm: 700px,
  md: 940px,
  lg: 1400px
);

// --- Colors ---
$colors: (
  red: red,
  blue: blue,
  green: green
);

/// Text Color
$text-color: #666;
/// Link Color
$link-color: firebrick; // Change this!
/// Link Hover
$link-hover: darken($link-color, 15%);

// --- Typography ---
/// Fonts
$sans-serif: "Open Sans", Arial, sans-serif;
$serif: serif;

// --- Images ---
// Default Header Hero Image
$hero-sm: "hero-background-sm.jpg"; // width should be 800px
$hero-md: "hero-background-md.jpg"; // width should be 1200px
$hero-lg: "hero-background-lg.jpg"; // width should be > 1200px
