.page-template-page-get-started {
	.sidebar-well {
		background: red;
		color: white;

		@include mobilefirst(md) {
			grid-column: 3 / span 8;
		}

		h2 {
			text-align: center;
		}

		input[type="submit"] {
			background: darken(red, 20%);
		}
	}
	.page-content {
		@include mobilefirst(md) {
			grid-column: 4 / span 6;
			grid-row: 2;
		}
	}
}
