.mag-degrees {
	> .wrap-lg {
		padding-top: rem(20);
		padding-bottom: rem(30);

		@include mobilefirst(md) {
			padding-top: rem(30);
			padding-bottom: rem(60);
		}

		.page-content {
			margin-bottom: rem(20);
		}

		.page-content > *:first-child {
			margin-top: 0;
		}

		@include mobilefirst(md) {
			display: flex;
			flex-flow: row nowrap;

			.page-content {
				flex: 2;
				margin-bottom: 0;
				margin-right: rem(40);
			}

			.sidebar {
				flex: 1;
			}
		}
	}
}
