.page-template-mag__home {
	.main-content {
		background-image: url("../images/triangle-pattern.svg");
		background-position: center center;
		background-size: 500px;
	}
}

.welcome,
.about {
	&__heading {
		margin-top: 0;

		@include min(lg) {
			font-size: rem(42);
		}
	}

	.wrapMd > p:first-of-type {
		margin-top: 0;
	}

	.wrapMd > p:last-of-type {
		margin-bottom: 0;
	}
}

.welcome {
	@include sectionspace();
}

.about {
	display: flex;
	background-color: white;

	&__heading {
	}

	.left,
	.right {
		flex: 1;
	}

	.right {
		display: none;

		@include min(md) {
			display: block;
			background-image: url("../images/grace-mount-memorial-hall.jpg");
			background-size: cover;
			background-position: left center;
		}
	}

	.content {
		max-width: rem(700);
		padding: rem(20) rem(15);
		margin-left: auto;
		margin-right: auto;
	}

	.left .content {
		@include min(md) {
			padding: rem(50) rem(40) rem(50) rem(10);
			margin-left: auto;
			margin-right: 0;
		}
	}
}
