/*********************
IMPORTING PARTIALS
*********************/

@import "partials/normalize";
@import "partials/variables";
@import "partials/mixins";
@import "partials/typography";
@import "modules/buttons";
@import "modules/forms";
@import "modules/tables";
@import "modules/accordion";
@import "modules/clearfix";
@import "modules/media";
@import "modules/links";
@import "modules/sidebar";
@import "partials/header";
@import "partials/footer";

/********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
}


/*********************
BASE STYLING
*********************/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: white;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

// Display fonts when ready
.fonts-loaded body {
    font-family: $sans-serif;
}


